# spec:
#   include:
#     - local: inputs/${PROJECT_TYPE}.yml
---
default:
  tags:
    - gitlab-rnp

include:
  - local: "configs/ci_stages.yml"
  - local: "configs/ci_workflow.yml"
  - local: "configs/ci_variables.yml"

  # helpers
  - local: "scripts/*.yml"

  # jobs
  - local: "ci_jobs/*/job.yml"

  # process
  - local: "ci_pipelines/${PROJECT_TYPE}/.gitlab-ci.yml"
    rules:
      - if: $DISABLE_EXECUTE_PIPELINE == "true"
        when: never
      - if: $PROJECT_TYPE

  # tech process
  - local: "tech_pipelines/${TECH_PIPELINE_NAME}/.gitlab-ci.yml"
    rules:
      - if: $DISABLE_EXECUTE_PIPELINE == "true"
        when: never
      - if: $TECH_PIPELINE_NAME
