---
workflow:
  rules:
    # 1) Nigdy nie twórz pipeline dla tagów
    - if: '$CI_COMMIT_TAG'
      when: never

    # 2) MR pipeline (ale blokuj Draft)
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^((\[|\()?[Dd]raft(\]|\))|[Dd]raft:|WIP:?)/'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: always

    # 3) Push pipeline tylko wtedy, gdy NIE ma otwartego MR dla tego brancha
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH'
      when: always

    # 4) Web tylko na branch
    - if: '$CI_PIPELINE_SOURCE == "web" && $CI_COMMIT_BRANCH'
      when: always

    # 5) Domyślnie: nie twórz pipeline
    - when: never
